# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/
.coverage
htmlcov/

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

#database
*.db
*.sqlite3
chromadb/

#pdf
*.pdf

#txt
*.txt

#docx
*.docx

#pptx
*.pptx

#xlsx
*.xlsx

*-schedule*
2026*